version: "3.9"

services:
  backend:
    build: ./server
    ports:
      - "3001:3001"
    restart: unless-stopped

  frontend:
    build: ./client
    ports:
      - "5173:80"
    depends_on:
      - backend
